html, body, h1, h2, h3, h4, h5, h6 {
	font-family:'Roboto Condensed',sans-serif;
	color: rgba(255,255,255,0.8);
}

body {
	background-color: #353230;
}

.container {
	padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 0;
	width:100%;
}

.row {
	margin-right: 0px;
  margin-left: 0px;
  margin-top: 8px;
}

.custom-loader {
  display: none;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 255, 255, 255, .2 ) url('loader.svg') 50% 50% no-repeat;
}

.btn-primary.active {
  background-color: rgba(0,255,0,0.4) !important;
  font-weight: bold !important;
}

.relay-indicator {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 26px;
  height: 26px;
  background: rgba(2550,0,0,0.4);
  margin-top: 10px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 17px;
}

.relay-indicator-on {
  background-color: rgba(0,255,0,0.4) !important;
}